h1 {
    color: black;
    font-size: 40px;
}

.titreH2Définition {
    color: #0d860d;
}

.titreH2FaireAppel {
    color: #800a10;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

h3 {
    font-weight: bold;
    font-size: 20px;
}

h5 {
    font-size: 26px;
}

/* Début - Images */
    .divImageDéfinition, .divImageFaireAppel {
        max-width: 100%;
        padding-right: 100px;
    }
    .divImageObjectifs {
        max-width: 100%;
        padding-left: 200px;
    }

    .imageDéfinition, .imageObjectifs, .imageFaireAppel {
        height: 300px;
        width: 400px;
        border:4px solid #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }
/* Fin - Images */

/* Début - Paragraphes */
    .paragraphes {
        display: flex;
        align-items: center;
    }
    .paragraphes2 {

    }
    .paragrapheDéfinition {
        color: black;
        width: 80%; /* occuper seulement la moitié de la largeur de la page */
        margin: 0 auto; /* centrer le paragraphe horizontalement */
    }
    .paragrapheObjectifs {
        color: black;
        width: 70%;
        display: inline-block;
        text-align: center;
    }
    .paragrapheFaireAppel {
        color: black;
        width: 80%; /* occuper seulement la moitié de la largeur de la page */
        margin: 0 auto; /* centrer le paragraphe horizontalement */
    }
/* Fin - Paragraphes */


/* Début - Rectangle de couleurs */
    /* Définition */
    .titre-shadow-définition {
        position: relative;
        text-align: center; /* ajout de cette propriété */
    }

    .titre-rectangle-définition {
        background-color: #0d860d;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 20px auto 5px; /* modification des marges */
        border: 1px solid #fff;
        width: fit-content;
        display: inline-block; /* ajout de cette propriété */
    }

    .titre-rectangle-définition h1 {
        color: #f0f0f0;
        font-size: 24px;
        margin: 0;
    }

    .titre-shadow-2-définition {
        background-color: #095609;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        margin: 15px auto 15px;
        border: 1px solid #fff;
        width: calc(100% + 20px);
        max-width: 280px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: -1;
        margin-left: -20px;
    }

    /* Objectifs */
    .titre-shadow-objectifs {
        position: relative;
        text-align: center; /* ajout de cette propriété */
    }

    .titre-rectangle-objectifs {
        background-color: #0d6086;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 20px auto 5px; /* modification des marges */
        border: 1px solid #fff;
        width: fit-content;
        display: inline-block; /* ajout de cette propriété */
    }

    .titre-rectangle-objectifs h1 {
        color: #f0f0f0;
        font-size: 24px;
        margin: 0;
    }

    .titre-shadow-2-objectifs {
        background-color: #093d53;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        margin: 15px auto 15px;
        border: 1px solid #fff;
        width: calc(100% + 20px);
        max-width: 320px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: -1;
        margin-left: -20px;
    }


    /* Faire-Appel */
    .titre-shadow-faireAppel {
        position: relative;
        text-align: center; /* ajout de cette propriété */
    }

    .titre-rectangle-faireAppel {
        background-color: #ab0d13;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 20px auto 5px; /* modification des marges */
        border: 1px solid #fff;
        width: fit-content;
        display: inline-block; /* ajout de cette propriété */
    }

    .titre-rectangle-faireAppel h1 {
        color: #f0f0f0;
        font-size: 24px;
        margin: 0;
    }

    .titre-shadow-2-faireAppel {
        background-color: #800a10;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        margin: 15px auto 15px;
        border: 1px solid #fff;
        width: calc(100% + 20px);
        max-width: 340px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: -1;
        margin-left: -20px;
    }
/* Fin - Rectangle de couleurs */

.définition, .objectifs, .faireAppel {
    text-align: center;
    width: 50%;
    margin: 0 auto; /* centre horizontalement */
}

/* Partie des définitions */
.définitionTitre, .définitionTexte, .définitionTextePartie1 {
    color: #0d860d;
}

/* Début - Partie des objectifs */
.objectifsTitre, .objectifsTexte1 , .objectifsTexte2 , .objectifsTexte3, .objectifsTextePartie1, .objectifsTextePartie2, .objectifsTextePartie3 {
    color: #0d6086;
}

/* Début - Partie des "faire appel" */
.faireAppelTitre {
    color: #ab0d13;
}

.faireAppelTexte {
    color: #db0f17;
}

.mission {
    padding-top: 110px;
    text-align: center;
}

.titrePage {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Partie Définition */
.boxVerte1 {
    background-color: #0d860f;
    color: white;
    padding: 15px;
    border-radius: 35px;
    width: 30%;
    margin-bottom: 20px;
}
.boxVerte2 {
    background-color: #0d860f;
    color: white;
    padding: 20px;
    border-radius: 35px;
    width: 50%;
    margin-bottom: 2px;
}
.boxVerte3 {
    background-color: #0d860f;
    color: white;
    padding: 10px;
    border-radius: 35px;
    width: 25%;
}

/* Partie Objectifs */
.boxBleue1 {
    background-color: #0d6086;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
}
.boxBleue2 {
    background-color: #0d6086;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 15%;
    margin-bottom: 2px;
}
.boxBleue3 {
    background-color: #0d6086;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

/* Partie Faire Appel */
.boxRouge1 {
    background-color: #9d090f;
    color: white;
    padding: 15px;
    width: 30%;
    margin-bottom: 20px;
}
.boxRouge2 {
    background-color: #9d090f;
    color: white;
    padding: 20px;
    width: 40%;
    margin-bottom: 2px;
}
.boxRouge3 {
    background-color: #9d090f;
    color: white;
    padding: 10px;
    width: 25%;
}

/* MEDIAS QUERY */
@media screen and (max-width: 1030px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .boxVerte1 {
        width: 35%;
    }
    .boxVerte2 {
        width: 60%;
    }
    .boxVerte3 {
        width: 20%;
    }

    .boxBleue1 {
        width: 35%;
    }
    .boxBleue2 {
        width: 20%;
    }
    .boxBleue3 {
        width: 60%;
    }
}

@media screen and (max-width: 850px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .boxVerte1 {
        width: 45%;
    }
    .boxVerte2 {
        width: 60%;
    }
    .boxVerte3 {
        width: 30%;
    }

    .boxBleue1 {
        width: 45%;
    }
    .boxBleue2 {
        width: 25%;
    }
    .boxBleue3 {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .boxVerte1 {
        width: 50%;
    }
    .boxVerte2 {
        width: 60%;
    }
    .boxVerte3 {
        width: 30%;
    }

    .boxBleue1 {
        width: 50%;
    }
    .boxBleue2 {
        width: 25%;
    }
    .boxBleue3 {
        width: 60%;
    }
}

@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .boxVerte1 {
        width: 50%;
    }
    .boxVerte2 {
        width: 70%;
    }
    .boxVerte3 {
        width: 65%;
    }


    .boxBleue1 {
        width: 50%;
    }
    .boxBleue2 {
        width: 45%;
    }
    .boxBleue3 {
        width: 70%;
    }
}

.divParagrapheDéfinition, .divParagrapheFaireAppel {
    max-width: 100%;
    padding-left: 100px;
}

.divParagrapheObjectifs {
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .paragraphes {
        flex-direction: column;
    }
    .divParagrapheDéfinition, .divParagrapheFaireAppel {
        padding-left: 0px;
    }
    .divParagrapheObjectifs {
        padding-left: 0px;
    }

    .divImageDéfinition, .divImageFaireAppel {
        padding-right: 0px;
    }
}
